<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <ul>
      <a href='/'>Home</a>

      <div>
        <strong>Variable: {{variable}}</strong>
        <span>Value: {{value}}</span>
      </div>
    </ul>
  </body>
</html>